@media (min-width:400px) and (max-width: 2560px){
    .flex-layout-container{
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    }
    
    /* navigation-start*/
    .navigation-layout{
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
    }
    .navbar-container{
        display: block;
    }
    .icon-button{
        display: inline-block;
    }
    .icon-button > .portfolio-icon{
        height: 100px;
        width: 100px;
    }
    .navbar-nav{
        display: inline-block;
    }
    .navbar-list{
        list-style-type: none;
        overflow: hidden;
    }
    .navbar-list > .navbar-item{
        float: left;
        padding: 17px;
    }
    .navbar-link{
        text-decoration: none;
    }
    .navbar-link:hover{
    }
    .navbar-link:active{
    }
    /* navigation-end */
    
    /* hero-layout-start */
    .hero-layout{
        height: 400px;
        display: block;
    }
    /* @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } */
    .hero-image-profile{
        position: relative;
        top: 100px;
        left: 100px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    
    .introduction-hero{
        position: relative;
        top: 100px;
        left: 100px;
    }
    /* hero-layout-end */

    /* project-display-start */
    .project-display-layout{
        display: flex;
        flex-direction: row;
        flex-basis: 300px;
        justify-content: center;
    }
    .project-item-card{
        height: 400px;
        width: 300px;
    }
    .project-image-container{
    }
    .project-image{
    }
    .project-description{
    }
    .project-description h3{
    }
    .project-clickable-link{
    }
    .project-clickable-link a{
    }
    .project-clickable-link:hover{
    }
    /* project-display-end */

    /* footer-display-start */
    
    /* footer-display-end */
}

